@import url('https://fonts.cdnfonts.com/css/made-tommy-soft-outline');

@font-face {/*Dreams font import, make sure the font is located in public/assets/fonts*/
  font-family: 'Dreams Space';
  src: url('/assets/fonts/DREAMS.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SF UI Text Regular';
  src:url('/assets/fonts/SFUIText-Regular.woff') format('woff');
  font-style: normal;
  font-weight: normal;

  }
  

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-image: url("/assets/bg.png") ;
  background-size: cover;
  
}
